body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#wrapper aside {
    position: absolute;
    top: 100px;
    right: 0;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}

#wrapper h2 {
    position: relative;
    margin-bottom: 200px;
    margin-right: 500px;
    margin-left: 1100px;
    
}

#wrapper video {
    position: relative;
    top: -100px;
    left: 1100px;
}

#wrapper button {
    position: relative;
    top: -100px;
    left: 1100px;
}

figure {
    display: flex;
    align-items: center;
}


#avatar {
    width: 260px;
    margin-right: 500px;
}

footer {
    color: antiquewhite;
    text-align: center;
    padding: 0px 0px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1000;
}



