body {
    width: 100%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(60deg, #ffafbd 0%, #ffc3a0 100%);
}

h2 {
    font-size: large;
    margin-top: 200px;
    margin-left: 400px;
    width: 100%;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

h1 {
    margin-left: 400px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #93744d;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background: maroon;
    color: white;
}


footer {
    font-size: small;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1000;
    background-color: #93744d
}




